body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'source-code-pro', 'Menlo', 'Monaco, Consolas', 'Courier New',
  'monospace';
}

/* ----- -----------------------------------------------------------------------------------------------*/
.form-group{
  display: flex;
}
.form-group input{
  display: flex;/* Use Flexbox */
  align-items:center; /* Align items vertically in the center */
  margin-bottom: 2rem; /* Add margin at the bottom */
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgb(125, 164, 247);
  outline: none;
}
/* ----- -----------------------------------------------------------------------------------------------*/
.row{
  background: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  padding: 1.5rem;
  border-radius: 1rem;
}
.con{
  background:linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}
 

/* -----Card -----------------------------------------------------------------------------------------------*/
.card {
  position: relative;
  max-width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 8px; /* Add rounded corners */
  overflow: hidden; /* Hide overflow content */
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.1);
  transform: scale(1.05) rotate(0deg);
}

.card:hover img {
  transform: scale(1.03) rotate(0deg); /* Smaller zoom-out effect on hover */
  animation: wiggle 0.5s ease-in-out infinite;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card-img.rounded {
  border-radius: 10px;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}
/* ----- Herosection-----------------------------------------------------------------------------------------------*/
header {
  padding: 3rem;
}

.brand h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.brand p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.header-section {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: stretch;
  align-items: center;
}

.hero-heading {
  margin-right: 6rem;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .header-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 0 2rem;
  }
}

.view-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  border: none;
  background-color: #f2c94c;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 4rem;
}
@media only screen and (max-width: 768px) {
  .view-menu {
    margin-top: 2rem;
    width: 100%;
  }
}

.view-menu img{
  height: 2.5rem;
  width: 2.5rem;
}

.view-menu:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.view-menu:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.food-categories-1 {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .food-categories-1 {
    margin-top: 2rem;
  }
}

.food-categories-1 button {
  padding: 1rem 1.2rem;
  margin-right: 2rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}
/* .arrow-main{
  border-radius: 5rem;
  height: 1px;
  width: 1px;
} */
.food-categories-1 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.food-categories-1 button:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.food-icons {
  width: 3rem;
}

.header-image {
  justify-self:center;
}
@media only screen and (max-width: 768px) {
  .header-image {
    justify-self: center;
    margin-top: 2rem;
  }
}

.header-image img {
  width: 45rem;
  justify-self: end;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .header-image img {
    width: 100%;
    max-width: 35rem;
    border-radius: 0;
  }
}
/* Login page ----- -----------------------------------------------------------------------------------------------*/

.signup {
  padding: 50px 0;
}
.container{
  border-radius: 10px;
}

.signup-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 10px;
}

.form-title {
  color: #333;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  
}

.form-group input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #666;
}

.form-group input:focus {
  outline: none;
  border-color: #8c63ff;
}

.btn-submit {
  background-color: #374af7;
  color: #fff;
  border-radius: 30px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #4c62f0;
}

.btn-already {
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
}
.btn-already a{
  text-decoration: none;
}

.btn-already:hover {
  background-color: #ff2b2b;
}

.signup-image {
  width: 40%;
  justify-content: center;
}

.signup-image img {
  width: 100%;
}


/*----------------------------------------------------------------------------------------------*/
/* Navigation Bar */
.navbar {
  background-color: #f8f9fa; /* change to desired background color */
  height: 80px; /* adjust height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #212529; /* change to desired text color */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #212529; /* change to desired text color */
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #dc3545; /* change to desired hover color */
}

.btn {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff; /* change to desired text color */
  background-color: #dc3545; /* change to desired background color */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #c82333; /* change to desired hover color */
}

/* Navbar responsive styling */
@media screen and (max-width: 992px) {
  .navbar {
    padding: 0 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggler {
    border: none;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/566/566008.png'); /* replace with desired icon */
    background-size: cover;
  }
  
  .collapse {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #f8f9fa; /* change to desired background color */
    padding: 10px;
    z-index: 9999;
    display: none;
  }
  
  .collapse.show {
    display: block;
  }
  
  .nav-link {
    display: block;
    margin: 10px 0;
  }
  
  .btn {
    display: block;
    margin: 10px 0;
  }
}

/*----------------------------------------------------------------------------------------------*/
.containercart {
  margin: auto;
  margin-top: 5rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.table {
  width: 100%;
}

.heading {
  background-color: #3872e7;
  color: #fff;
  font-size: 1.2rem;
}

th,
td {
  padding: 1rem;
  vertical-align: middle;
}

th:first-child,
td:first-child {
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 25%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 15%;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.main {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}


/*----------------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  font-size: 14px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: #444;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00bcd4;
}




.container{
  padding: 0;
  margin: 0;
}


/*----------------------------------------------------------------------------------------------*/
code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco, Consolas', 'Courier New',
    'monospace';
}

